.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.filter-panel {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 250px;
  z-index: 10;
}

.preview-section {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.preview-section .download-btns {
  position: fixed;
  bottom: 40px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 10;
}

@media (max-width: 550px) {
  .preview-section .download-btns {
    bottom: 80px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    white-space: nowrap; 
}
}